### python基础

In [10]:
import pandas as pd
import numpy as nu
data=pd.read_csv(r"D:\Chrome下载\export_sql_2675238\sqlResult_2675238.csv")
data



#下单趋势数据


data4=data["weight"]
data4=data4.dropna()

In [12]:
data

                   pno  weight
0        TH68143E8VS9E    1.00
1        TH40093DZ8Q8E    0.70
2        TH64153EG308A    1.41
3        TH38013DS170P    0.30
4        TH75103EU9V1J   10.82
...                ...     ...
1944319  TH03023FDSD3C    0.52
1944320  TH01473F25M7C    1.60
1944321  TH01183FAH68A    1.29
1944322  TH01503F9Q15B    0.85
1944323  TH70083F82X1B    3.00

[1944324 rows x 2 columns]

In [0]:
data[data.weight>2]