### python基础

In [11]:
import pandas as pd
import numpy as nu
import datetime
data=pd.read_csv(r"D:\Chrome下载\export_sql_2679977\sqlResult_2679977.csv")

In [12]:
data

                  pno          finished_at           created_at
0       TH25013GJY19A  2019-11-12 00:22:19  2019-11-11 07:58:37
1       TH25013FK8Y5A  2019-11-12 00:22:41  2019-11-10 02:07:57
2       CF13046738P01  2019-11-12 00:47:48  2019-11-10 06:59:08
3       TH13073FX6H0C  2019-11-12 01:01:08  2019-11-10 08:10:37
4       TH31133FNJJ1A  2019-11-12 01:03:42  2019-11-10 04:15:01
...               ...                  ...                  ...
230013  TH64013FT4W4L  2019-11-12 10:26:15  2019-11-10 06:43:07
230014  TH03063GF1P2E  2019-11-12 10:26:51  2019-11-11 09:45:27
230015  TH64123FKJ67R  2019-11-12 10:28:12  2019-11-10 07:17:07
230016  TH55043F6PZ7A  2019-11-12 10:29:08  2019-11-09 05:22:19
230017  TH38013F6AS9M  2019-11-12 10:29:49  2019-11-09 05:04:31

[230018 rows x 3 columns]

In [25]:
type(data.finished_at.iloc[0])

pandas._libs.tslibs.timestamps.Timestamp

In [26]:
data['finished_at']=pd.to_datetime(data['finished_at'],format="%Y-%m-%d %H:%M:%S")
data['created_at']=pd.to_datetime(data['created_at'],format="%Y-%m-%d %H:%M:%S")

In [28]:
data['new']=(data['finished_at']-data['created_at'])

In [34]:
data1=data.sort_values(by=['new'])
data2=data1['new']

In [35]:
data2

166020    0 days 00:06:42
192713    0 days 00:29:09
160305    0 days 00:30:00
61170     0 days 00:31:22
89963     0 days 00:36:55
               ...
23189    20 days 18:40:27
28808    23 days 23:48:43
82477    26 days 06:16:41
196352   55 days 04:05:20
12978    60 days 12:39:16
Name: new, Length: 230018, dtype: timedelta64[ns]

In [39]:
data2.describe([0.1,0.2,0.5,0.8])

count                    230018
mean     1 days 14:54:27.471402
std      0 days 20:31:04.592588
min             0 days 00:06:42
10%      0 days 18:56:24.700000
20%             0 days 20:54:09
50%             1 days 17:46:24
80%      2 days 00:04:48.600000
max            60 days 12:39:16
Name: new, dtype: object